*,p{
    padding:0;
    margin:0;
    font-family: 'Lato', sans-serif;
}
body,html,.whole{
    height:100%;
    width:100%;
}
li{
    list-style:none;
}
.whole{
    overflow:hidden;
}
    /*----------------------------------commen----------------------------------*/
header,.header_div,.box_div,.noti,nav,.video_div,.noti_conts>div,.width_div,.allclass,.title_div{
    box-sizing: border-box;
}    
button{
    outline: none;
    border: none;
}
button,.header_div i,.profile,.title i,.newclass i,.dlt,.newclass,nav li,.noti_conts>div,.close,.la1,.la2,.info,.back, header>img,.pro>div>button+p {
    cursor:pointer;
}
.hdr,.profile{
   float: right; 
}
.title_div,.newclass{
    float:left;
}
    /*--------------------------------header----------------------------------*/
header{
    width: 100%;
    height: 70px;
    background: #444;
    padding: 6px 10px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.3) inset, 1px 1px 10px rgba(0, 0, 0, 0.3);
}
header img{
    height:55px;
}
.hdr_div{
    width:1280px;
    margin:auto;
}
.header_div{
   height: 59px;
   display:flex;
   padding:10px 0;
}
.profile{
    height:40px;
    width:40px;
    border-radius:50%;
    display:inline-block;
    margin:0 24px 0 0;
    background:white;
}

.header_div>div:first-child i{
    font-size: 27px;
    padding: 7px 0;
    color: white;
    display:inline-block;
    margin:0 35px 0 0;
}
.header_div>div{
    position:relative;
}
.cls{
    height: 40px;
    width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.14);
    border-radius: 4px;
    margin: 9px 30px 0 0;
    box-sizing: border-box;
    display: flex;
    overflow: hidden;
}
.cls div{
    width: 121px;
    height: 47px;
    border: 1px solid white;
    border-radius: 30px;
    box-sizing: border-box;
    margin-left: 0;
    background: white;
    transition: 0.4s;
}
.cls label{
    text-align: center;
    height: 100%;
    width: 50%;
    line-height: 38px;
    transition:0.4s;
    color:white;
}
.hdr{
    display:flex
}
.select{
    background: white;
    color: #333 !important;
}
    /*----------------------------------width div------------------------------------------*/
.width_div,.allclass{
    width: 1280px;
    height: 100%;
    margin: auto;
    padding:50px 0 0;
}    
.allclass{
    position:relative;
}
/*.back{*/
/*    position: absolute;*/
/*    top: 22px;*/
/*    left: 35px;*/
/*    padding: 6px 10px 6px 5px;*/
/*    font-size: 18px;*/
/*    background: #666;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*}*/
/*.back>i {*/
/*    vertical-align: top;*/
/*    margin-right: 2px;*/
/*    padding-right: 5px;*/
/*    border-right: 1px solid white;*/
/*}*/

    /*----------------------------------box div------------------------------------------*/
.box_div{
    height:calc(100% - 70px);
    width:100%;
    /*padding:30px 0;*/
    overflow: auto;
}    
.title_div{
    height: 255px;
    width: 225px;
    margin: 20px 36.5px;
    border-radius: 5px;
    border: 2px solid #444;
    color: rgba(51, 51, 51, 0.92);
    overflow: hidden;
    position: relative;
    background: rgba(68, 68, 68, 0.07);
}
.create_btn{
    border-radius: 50%;
    font-size: 32px;
    padding: 0.01em 0.35em;
    color: white;
    background: #444;
    transition: 0.3s;
    border: 3px solid transparent;
}
.create_btn:hover{
    border:3px solid #444;
    color:#444;
    background:white;
}
.crt_div p{
    padding: 57px 0 0.4em;
    font-size: 22px;
    margin: auto;
    width: 90%;
    letter-spacing: 1px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.newclass,.des{
    height: 255px;
    width: 225px;
    border-radius: 5px;
    text-align: center;
    border:none !important;
}
.des{
    position: absolute;
    /*top: 260px;*/
    top:266px;
    background: rgba(0, 0, 0, 0.76);
    transition:0.4s;
}
.info:focus + i + .des , .des:focus {
    top: 0;
}
.a{
    background:#ff89a9;
    margin: 20px 47.5px;
    float: left;
}
.new{
    position:relative;   
    height: 255px;
    width: 225px;
    margin: 20px 47.5px;
    border-radius:5px;
    float: left;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    transition: ease-in-out 0.5s;
    transform: scale(1);
}
.new:hover{
    box-shadow: 1px 1px 7px rgba(0,0,0,0.1);
    transform: scale(0.98);
}
.newclass p{
    color:white;
    padding: 5px 0 !important;
}
.newclass img{
    height: 80px;
    width: 80px;
    display: block;
    margin: 40px auto 20px;
}
.info{
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 24px !important;
    color: white;
    display:none !important;
}
.dlt{
    font-size: 24px !important;
    text-align: right !important;
    display: block;
    color: white;
    position:absolute;
    bottom: 20px;
    right: 20px;
}
.newclass button{
    padding: 4px 15px;
    background: rgba(255, 255, 255, 0.7);
    font-size: 17px;
    float: left;
    margin: 41px 20px 0px !important;
    border-radius: 3px;
    display: none;
}
.newclass button:hover {
    background: #fff;
}
.allclass .dlt {
    display:none !important
}
.allclass .info , .allclass .newclass button{
    display: block !important;
} 
.crt_div{
    height: 255px;
    width: 225px;
    background: white;
    border-radius: 5px;
    top: 0;
    text-align: center;
    position: absolute;
    transition: 0.3s;
}
.title{
    height: 100px;
    padding-top: 8px;
    text-align:center;
}
select{
    display: block;
    margin: 3px auto;
    height: 24px;
    width: 87px;
    text-align: center !important;
    border-radius: 3px;
    background:transparent;
}
.title i{
    text-align: right;
    padding: 0px 0 0 185px;
    font-size: 20px;
    transition: 0.4s;
    color: rgba(68, 68, 68, 0.78);
}
.done_btn{
    padding: 3px 8px 4px;
    background: #444;
    border-radius: 3px;
    color: white;
    font-size: 16px;
    margin: 15px auto 0;
    transition: 0.4s;
    display: block;
}
.done_btn:hover {
    background:#222;
    color:white;
}
.title input:empty + label{
    top: 7px;
    left: 25px;
}
.title label{
    font-size: 15px;
    padding: 0 9px;
    display: block;
    color:black;
}
.title textarea{
    max-height: 75px;
    max-width: 173px;
    height: 75px;
    width: 194px;
    display: block;
    resize: none;
    /*margin: 10px auto;*/
    margin: 10px auto 0;
    outline-color: gray;
}
.title input{
    border: none;
    border-bottom: 1px solid #cecdcd;
    background: transparent;
    outline: none;
    color: #333;
    height: 27px;
    width: 180px;
    font-size: 16px;
    margin: 4px 22px 10px;
}
.show_des{
    height: 126px;
    width: 80%;
    margin: 30px auto;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}
.des p{
    color: white;    
}
.des p:first-child{
    font-size: 21px;
    margin: 10px 0 5px;
}
.des p:last-child{
    font-size: 17px;
}
.des>i{
    text-align: right !important;
    color: white;
    display: block;
    margin: 9px 10px 0 0;
}
    /*---------------------------------------notification div------------------------------------------------*/
.noti{
    position: absolute;
    height: 300px;
    width: 335px;
    top: 53px;
    border-width: 0 1px 1px 1px !important;
    z-index: 1;
    left: 234px;
}
.noti:after{
    content: "";
    position: absolute;
    top: -23px;
    left: 238px;
    border: 12px solid white;
    border-color: transparent transparent white transparent;
}
.noti,.pro{
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #ddd;
    transition:0.3s;
    background: white;
}
.noti>p {
    font-size: 17px;
    margin: 5px;
}
.noti_conts p{
    display: inline;
    margin: 10px 0px;
    padding: 0 4px;
}
.noti_conts{
    height: 267px;
    width: 100%;
    overflow: auto;
    border-top: 1px solid #eee;
}
.noti_conts>div{
    height: 70px;
    padding-left: 5px;
    max-height: 70px;
    width: 100%;
    display: flex;
    background: rgba(204, 204, 204, 0.1);
    border-bottom: 1px solid #eee;
    margin-bottom: 3px;
}
.noti_conts>div:focus {
    height: auto;
    outline: none;
}
.noti_conts>div:focus>div>p:last-child {
    overflow: hidden;
    text-overflow: unset;
    white-space: pre-wrap;
    word-wrap: break-word;
}
.noti_conts img{
    border-radius: 50%;
    margin: 12px 5px 9px 0;
    height: 45px;
    width: 45px;
}
.contents{
    height: 70px;
    width: 271px;
}
.contents p{
    display:block;
}
.contents p:first-child{
    color: rgba(170, 170, 170, 0.91);
}
.contents p:last-child{
    color: #555;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.contents p span{
    color: #444;
    font-weight: 600;
}
.dot{
    padding: 3px;
    box-shadow: 0 0 10px 5px rgb(255, 0, 0) inset;
    font-size: 0px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 24px;
}
    /*-------------------------------------profile div---------------------------------------------------*/
.pro{
    position: absolute;
    height: 238px;
    width: 244px;
    border-width: 0 1px 1px 1px;
    right: -262px;
    top: 54px;
    z-index: 1;
    text-align: center;
}    
.pro img{
    height: 86px;
    width: 86px;
    border-radius: 50%;
    margin: 7px 0;
}
.pro:after{
    content: "";
    position: absolute;
    border: 12px solid white;
    border-color: transparent transparent white transparent;
    top: -24px;
    right: 16px;
}
.pro>div{
    width: 100%;
    /* box-shadow: 1px 1px 6px 2px rgba(0, 0, 0, 0.15); */
    left: 10%;
    background: white;
    border-radius: 5px;
    text-align: center
}
.pro div p{
    padding: 5px 0;
    color: #676767;
}
.pro>div>p:first-child,.pro>div>button+p{
    letter-spacing:1px;
}
.pro>div>p:nth-child(2){
    letter-spacing:0.5px;
}
.pro div button{
    height: 24px;
    width: 86px;
    border-radius: 4px;
    margin: 7px 0 0px 0px;
    background: white;
    color:#444;
    border: 2px solid #444;
    transition:0.4s;
}
.pro div button:hover{
    background:#444;
    border:2px solid #444;
    color:white;
}
.pro>div>button+p{
    margin-top: 10px;
    border-top: 1px solid lightgray;
}
    /*-----------------------------------main2 Div------------------------------------*/
.main2_div{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0 !important;
}    
nav{
    height: 100%;
    width: 250px;
    /*background: rgba(78, 184, 195, 0.8);*/
    border-right: 2px solid #444;
    overflow-y:auto;
}
nav li{
    line-height: 3;
    padding: 0 27px;
    font-size: 18px;
}
nav>ul li:hover{
    background:#8ed3da;
    color:white;
}
/*nav ul:nth-child(2){*/
/*    padding: 25px 0px 0;*/
/*}*/
.drop{
    display:none;
    color:#333;
    transition:0.4s;
}
.drop ul li{
    padding: 0px 0 0 40px;
    font-size: 16px;
}
nav ul:nth-child(2) li i{
    padding: 0 0 0 127px;
}

    /*------------------------------------show div----------------------------------------*/
.show_div{
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
}    
    /*--------------------------------------video div-------------------------------------*/
.video_div{
    width: 1030px;
    height: 100%;
    padding: 20px 61px;
    margin: auto;
}    
.video_div div{
    height: 200px;
    width: 180px;
    border: 1px solid;
    margin: 20px;
    border-radius: 2px;
    float:left;
    position:relative;
}  
.video_div section{
    height:100%;
    width:100%;
    display:none;
}
.close{
    margin: 7px 0 0 1023px;
    font-size: 22px;
    position:absolute;
}

/* ----- Categories ----- */

.all {
    width: 1200px;
    margin:18px auto;
    padding: 20px ;
}


.all>div {
    height: 290px;
    width: 300px;
    box-shadow: 3px 3px 40px rgba(0, 0, 0, 0.12);
    float: left;
    position: relative;
    margin: 50px 50px 25px;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.4s;
}
.all>div img {
    width: 100%;
    height: 210px;
    transition: 0.4s;
    transform: scale(1);
}
.all>div:hover {
    box-shadow: 0px 0 10px rgba(0,0,0,0.1)
}
.all>div:hover img {
    transform: scale(1.07);
}
.all>div>div {
    top: 210px;
    position: absolute;
    width: 100%;
    font: 30px/80px 'mirza',cursive;
    background: white !important;
    text-align: center;
}

